.content {
    background-color: #fff;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    position: relative;
    z-index: 5;
}

.about {
    display: flex;
    align-items: center;
    /* margin: 8rem 0; */
    padding: 8rem 0;
}

.about img {
    flex: 0 50%;
    padding: 30px 0 0 0 ;
    max-width: 50%;
    height: auto;
    position: relative;
    z-index: 5;
    border-radius: 30% 10% 30%;
    -webkit-border-radius: 30% 10% 30%;
    -moz-border-radius: 30% 10% 30%;
    -ms-border-radius: 30% 10% 30%;
    -o-border-radius: 30% 10% 30%;
}

.about .about-content {
    padding: 35px;
}

.about .about-content h2 {
    color: #175397ad;
    font-size: 2.5em;
    margin: 15px 0px;
}

.about .about-content p,
.about .about-content ul {
    color: #666;
    font-size: 1.1em;
    line-height: 1.5;
    margin: 15px 0px;
}

.about .about-content ul {
    list-style-type: none;
    line-height: 1.6;
    padding: 0;
}

.about .about-content ul li i {
    color: #175297;
    padding: 4px;
}

.about .about-content .whatsapp
{
    text-decoration: none;
    width: fit-content;
    text-align: center;
    background-color: #175297;
    color: white;
    font-size: 1em;
    font-weight: 200;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.about .about-content .whatsapp i
{
    font-size: 1.2em;
    transition: 0.3s ease;
    padding: 0 0 0 10px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.about .about-content .whatsapp:hover
{
    background-color: #175297ba;
}

.target {
    width: 100%;
    background-image: url(../images/back.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.target::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.target .text-content {
    position: relative;
    z-index: 2;
    padding: 20px;
    text-align: center;
}

.target .text-content h2 {
    color: white;
    font-size: 3em;
    font-weight: 900;
}

.target .text-content p {
    font-size: 1.4em;
    font-weight: 600;
    color: white;
}

@media(max-width: 768px) {
    .about {
        flex-direction: column;
    }
}